.link {
    display: flex;
    place-items: center;
    width: 20%;
    height: 100%;
}

.link div {
    text-align: center;
    width: 100%;
}

.link:hover,
.link:click,
.link:focus{
    color: red;
}